*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --size-p-: 1.9rem; 
    --size-p-desktop: 5rem 
}

html{
    font-size: 62.5%;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
}



body{
    color: white;
    width: 100%;

}

.Active{
    display: block;
}

.info-servicios{
    width: 100%;
        padding: 30px;
}

#NomUser{
    font-size: 1.6rem;
}


.title-servicios{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
    justify-content: center;
    margin-bottom: 20px;
}

.title-servicios h1, .Planes-servicios h1{
    font-size: 4rem;
}

.title-servicios p{
    font-size: var(--size-p-);
}

.Planes-servicios{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0 ;
}

.flex-cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    height: auto;
    border: 2px solid greenyellow;
    padding: 20px;
    border-radius: 10px;
}

.card h1{
    text-align: center;
    color: white;
    font-size: 3rem;
}

.card li{
    list-style:circle;
}

.card button{
    border-radius: 10px;
    padding: 10px;
    background-color: tomato;

}

.card span{
    color: blueviolet;
    font-size: 2rem;
}


.PlanEmpresarial{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.PlanEmpresarial button{
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: tomato;
}

.PlanEmpresarial p{
    font-size: var(--size-p-);
}

.ContenidoProyectos{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.ContenidoProyectos h1{
    font-size: 3rem;
    margin: 20px;
    text-align: start;
}

.cardproyectos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 0 50px 0;
}

.cardproyectos img{
    width: 100%;
}
.cardproyectos h2{
    font-size: var(--size-p-);
}

@media screen and (min-width:750px) {
    body{
        p{
            font-size: var( --size-p-desktop);

        }
        h2{
            font-size: var( --size-p-desktop);
        }

        .Planes-servicios  li{
            font-size: var(--size-p-);
            margin-left: 30%;
        }

        .info-servicios h1,.info-servicios p{
            text-align: center;
            max-width: 60%;
            margin: 0 auto;
        }
    }

    .flex-cards{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .Planes-servicios{
        width: 100%;
    }

    .PlanEmpresarial{
        margin-top: 30px;
    }
    .card{
        max-width: 500px;
        width: 50%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: space-around;
        justify-content: space-around;
    }

    .card span{
        text-align: center;
    }

    .LineaR{
        background-color: yellow;
        width: 30%;
        height: 10px;
    }

    .proyectos{
        gap: 20px;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        flex-direction: row ;
        justify-content: space-around;
    }

    .cardproyectos{
        width: 300px;
        height: auto;
        padding: 20px;
    }

    .proyectos img{
        width: 200px;
        margin: 0 auto;
    }

    .proyectos h2{
        margin: 10px;
        text-align: center;
    }

    .derechos p{
        font-size: 20px;
    }

}