*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url(https://wallpapers.com/images/featured/pokemon-hd-fazqcs1tmwwte1ap.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main h1{
    text-align: center;
    margin: 40px;
    font-size: 50px;
    background-color: rgb(198, 179, 144);
    border-radius: 30px;
    color: white;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
article{
    background-color: rgb(253, 253, 253,0.8);
    width: 300px;
    border-radius: 30px;
    border-color: black;
    border: 2px solid;
}

article,section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button,.button2{
    width: 200px;
    height: 50px;
    margin: 20px 20px;
}

.button2{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
}

img{
    width: 250px;
    border: 2px solid black;
}

.info1,.info2{
    padding: 10px 50px;
    margin: 20px 0;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid black;
}

.info1{
    color: rgb(25, 117, 187);
}

.info2{
    color: rgb(18, 195, 100);
}
.cont-caja{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#infob1,#infob2{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: white;
}

#ganador2, #ganador1{
    width: 100%;
    text-align: center;
    border-radius: 30px;
    padding: 5px 0;
    height: 40px;
    background-color: rgb(255, 225, 0);
    border: 2px solid black;
    display: none;
}


